<h1>
  <%= @trip.name %>
</h1>
<% if @trip.locations.any? %>
  <div class="row">
    <% @trip.locations.each do |loc| %>

      <ul class="collection">
      <li class="collection-item avatar">
        <span class="title"><%= loc.locationName %></span>
        <p>Arrival Date: <%= loc.arriveDate.strftime("%a %b %d %Y") %><br>
           Arrival Time: <%= loc.arriveTime.strftime("%I:%M %p") %>
        </p>
      </li>
      </ul>

    <% end %>
  </div>
<% else %>
  <h3>No locations on trip. Please add one.</h3>
<% end %>

<div class='center'>

  <%= link_to 'Add New Location', new_trip_location_path(params[:id]) %> |
  <%= link_to 'Edit Trip', edit_trip_path(@trip) %> |
  <%= link_to 'Back', trips_path %>
</div>
