<%= form_for [@location, @address] do |f| %>
  <% if address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
      <% address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Name of Site" %>
    <%= f.text_field :siteName %>
  </div>

 <div class="field">
    <%= f.label "Street Address" %>
    <%= f.text_field :streetAddress %>
  </div>

 <div class="field">
    <%= f.label "City" %>
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label "State" %>
    <%= f.text_field :state %>
  </div>

 <div class="field">
    <%= f.label "Zip" %>
    <%= f.number_field :zip5 %>
  </div>

  <div class="actions">
    <%= f.submit nil, class: 'btn' %>
  </div>
<% end %>
