<%= form_for [@trip, @location] do |f| %>
  <% if location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Name of Location" %>
    <%= f.text_field :locationName %>
  </div>

 <div class="field">
    <%= f.label "Date of arrival: MM/DD/YYYY" %>
    <%= f.date_field :arriveDate %>
  </div>

 <div class="field">
    <%= f.label "Arrival time as HH:MM am or pm" %>
    <%= f.time_field :arriveTime %>
  </div>

  <div class="field">
    <%= f.label "Duration of stay (hours)" %>
    <%= f.number_field :duration %>
  </div>

 <div class="field">
    <%= f.label "Miles from last location" %>
    <%= f.number_field :milesSinceLast %>
  </div>

  <div class="field">
    <%= f.label "Purpose of stay" %>
    <%= f.text_field :purpose %>
  </div>

  <div class="field">
    <%= f.label "Secondary purpose (optional)" %>
    <%= f.text_field :secondaryPurpose %>
  </div>

  <div class="actions">
    <%= f.submit nil, class: 'btn' %>
  </div>
<% end %>
