<h1>Locations</h1>

<% if @locations.any? %>
  <table>
    <thead>
      <tr>
        <th>Location</th>
        <th>Arrival Date</th>
        <th></th>
        <th></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @locations.each do |location| %>
        <tr>
          <td><%= location.locationName %></td>
          <td><%= location.arriveDate.strftime("%a %b %d %Y") %></td>
 <!--          <td><%= link_to 'Show', location_path(:trip_id, location) %></td>
          <td><%= link_to 'Edit', edit_trip_location_path(:trip_id, location) %></td> -->
         <td><%= link_to 'Add Address', new_location_address_path(location) %></td> 
         <td><%= link_to 'Edit Location', edit_location_path(location) %></td>
         <td><%= link_to 'Delete Location', location_path(location), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <h3>No locations found. Please create one!</h3>
<% end %>

  <br>

<%= link_to 'Back to Trips', root_path %>